body {
	background: url(../../assets/cards.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	row-gap: 2rem;
}

#info {
	font-size: large;
	color: black;
	max-width: 30rem;
	text-align: center;
	position:absolute;
	bottom:200px;
}

h1 {
	color: #eee;
	font-size: 5rem;
}

h2 {
	color:#eee;
}

.top {
	width: 15rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: flex-end;
	position:absolute;
	right:350px;
	top:30px;
}


#start {
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	position:absolute;
	bottom:250px;
}

.logout-button {
	background-color: #f44336;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}
